# Environment variables - API KEY BURAYA GİRER, ASLA COMMIT'LEME
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

hf-munazara/
.coverage
htmlcov/
